<div>
  <h3>ngIf</h3>
  <button (click)="ifBoolean = !ifBoolean"
  name="button">Toggle Element!</button>
  <pre *ngIf="ifBoolean">How Now Brown Cow</pre>

</div>
<div>
  <h3>ngFor</h3>
  <p *ngFor="let name of forArray; let i=index">Name: {{name}}, Index: {{i}}</p>
</div>

<div>
  <h3>ngSwitch</h3>
  <button (click)="switchVariable='f'" name="button">1st</button>
  <button (click)="switchVariable='s'" name="button">2nd</button>
  <button (click)="switchVariable='t'" name="button">3rd</button>
  <div class="" [ngSwitch]='switchVariable'>
    <p *ngSwitchCase="'f'">First</p>
    <p *ngSwitchCase="'s'">Secondt</p>
    <p *ngSwitchCase="'t'">Third</p>
    <p *ngSwitchDefault>Default</p>
  </div>
</div>

<div>
  <h3>ngClass</h3>
  <button (click)="ngClass =['btn-primary']" name="button">Primary</button>
  <button (click)="ngClass =['btn-info']" name="button">Info</button>
  <button (click)="ngClass =['btn-danger']" name="button">Danger</button>

  <button [ngClass]="ngClass" class="btn" type="button" name="button">This changes colors!</button>
</div>

<div>
  <h3 [style.font-size.px]="ngStyleFont" >[style.css]</h3>
  <button (click)="ngStyleFont = ngStyleFont + 1" name="button">Increase Size</button>
  <button (click)="ngStyleFont = ngStyleFont - 1" name="button">Decrease Size</button>
</div>

<div class="">
    <h3>[ngStyle]</h3>
</div>

<div>
  <h3>ngNonBindable</h3>

</div>
