<form [formGroup]="form" action="index.html" method="post">
  <div class="form-group">
    <label for="">Regular String</label>
    <input formControlName="regular_string" type="text" name="" value="">
    <pre *ngIf="!form.controls['regular_string'].valid">
    Not Valid!</pre>
  </div>

  <div class="form-group">
    <label for="">Custom String</label>
    <input formControlName="custom_string" type="text" name="" value="">
    <pre *ngIf="!form.controls['custom_string'].valid">
    Not Valid!</pre>
  </div>


  <div class="form-group">
    <label for="">Custtom NUmber</label>
    <input type="number" name="" formControlName="custom_number" value="">
    <pre *ngIf="!form.controls['custom_number'].valid">
    Not Valid!</pre>
  </div>

<pre *ngIf="!form.valid">Get yo shit together</pre>
</form>
