
<div class="">
<h1>Initial Array</h1>
<pre><p class="" *ngFor="let name of initialArray">
    {{name}}
</p></pre>
</div>

<div class="" *ngIf="initialArray">
  <h1>Input 1 Array Value</h1>
  <io-one [input_array]="initialArray"
    (return_array)="getIo1($event)"></io-one>
</div>


<div class="">

  <h1>Parent Modified Value from IO 1</h1>

</div>

<div class="" *ngIf="io1Ready === true">
  <h1>Input 2 Array Value </h1>
  <io-two [input_array]="io1" (return_array)="getIo2($event)"></io-two>
</div>
<button type="button" (click)="io1Ready=true" name="button">io1Ready</button>
<button type="button" (click)="io2Ready=true" name="button">io2Ready</button>
<div class="" *ngIf="io2Ready===true">
  <h1>Parent Final Array Value</h1>
  <pre><p class="" *ngFor="let name of finalArray">
      {{name}}
  </p></pre>
</div>
