
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">NG Ise-Jingu: MACH2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
      </ul>
      <login></login>
    </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item"><a [routerLink]="['/directives']">Directives</a></li>
          <li class="list-group-item"><a [routerLink]="['/form-control']">Form Control</a></li>
          <li class="list-group-item"><a [routerLink]="['/form-builder']">Form Builder</a></li>
          <li class="list-group-item"><a [routerLink]="['/validation']">Validation</a></li>
          <li class="list-group-item"><a [routerLink]="['/dependency_injection']">Dependency Injection</a></li>
          <li class="list-group-item"><a [routerLink]="['/param_routing']">Param Routing</a></li>
          <li class="list-group-item"><a [routerLink]="['/input_output']">Input-Output</a></li>
          <li class="list-group-item"><a [routerLink]="['/http']">HTTP</a></li>
          <li class="list-group-item"><a [routerLink]="['/lifecycle']">Lifecycle</a></li>
          <li class="list-group-item"><a [routerLink]="['/content_projection']">Content-Projection</a></li>
          <li class="list-group-item"><a [routerLink]="['/misc']">Misc</a></li>
        </ul>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
