<form *ngIf="iseForm" [formGroup]="iseForm" class="" action="index.html" method="post">
  <input type="email" formControlName="email" name="" value="">
  <input type="number" formControlName="age" name="" value="">
  <input type="checkbox" formControlName="boolean" name="" value="">
  <input type="date" formControlName="birth" name="" value="">
</form>

<pre>
email: {{iseForm.get('email').value}}
Age: {{iseForm.get('age').value}}
Boolean: {{iseForm.get('boolean').value}}
Birth: {{iseForm.get('birth').value}}
</pre>
